* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    font-size: 1.2rem;
}

h1 {
    margin: 5% 0 0 3%;
}

#scores {
    padding: 10%;
}

.scoreboardHead {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: white;
    border: 0.2rem solid black;
    box-shadow: 0.2rem 0.2rem 0 black;
    font-weight: 600;
    padding: 0.2rem 0.6rem;
    font-size: 1.1rem;
}

.btn:hover {
    background-color: black;
    color: white;
}

.scoreboard {
    border: 0.3rem solid black;
}

.scoreboard li {
    list-style: none;
    padding: 0.2rem 0.5rem;
}

.scoreboard li:nth-child(even) {
    background-color: lightgrey;
}

#scoreAdder {
    padding: 0 10% 5% 10%;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1.5rem;
}

.playerInput {
    margin-bottom: 1.5rem;
}

.playerInput {
    padding: 0.3rem 0.6rem;
    font-size: 1.1rem;
    width: 100%;
    border: 0.3rem solid black;
}

.submitBtn {
    align-self: flex-end;
}